/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap'); */

:root {
    --yellow: #857615;
    --light-yellow: #ffee80;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .1);
}

* {
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

#header-banner {
    background-color: #130f40;
}

#wrapper {
    background-color: #3a3668;
}

#header-top {
    background-color: #33314d;
}

#header-3 {
    background-color: #be97b8;
}

#slide-show {
    background-color: #0f401f;
}

#type-colection {
     background-color: #400f0f;
}

#type-featured-collection {
     background-color: #400f0f;
}

#type-banner {
     background-color: #180f40;
}

#type-featured-collection {
     background-color: #130f40;
}

#type-featured-blog {
     background-color: #d3dfdb;
}

#tyoe-instagram {
     background-color: #18010b;
}

#type-shipping {
     background-color: #836e11;
}

#footer-top {
     background-color: #880a73;
}

#footer-bot {
     background-color: #b7e60d;
}

.section {
    width: 100%;
    min-height: 50px;
    border: 2px solid red;
    padding: 15px;
}